<!DOCTYPE html>
<html>
  <body class="p-6">
    <div class="z-10 text-white">
      <div class="mb-2">
        <h1 class="font-bold text-5xl font-ginto flex-none">
          Happy 7th Birthday, Discord!
        </h1>
      </div>
      <div class="flex">
        <div
          style="font-size: 0.7rem; line-height: 0.95rem"
          class="w-3/4 flex-none"
        >
          <p class="font-ginto text-justify">
            <span>
              <% for (const user of users) { %>
              <span class="font-medium"><%= user.username %></span>#<%=
              user.discriminator %> <% } %>
            </span>
          </p>
        </div>
        <div>
          <h2 class="font-medium text-1xl font-ginto ml-4 leading-snug">
            Thank you for building the home for community, and other stuff lol
            idk ill make this later :)<br />
            ~ The Discord Community
          </h2>
        </div>
      </div>
    </div>
    <div class="fixed right-0 bottom-0 -z-10"><%- bg %></div>
  </body>
  <style>
    html {
      background: linear-gradient(180deg, #7269ff 0%, #b2adff 196.83%);
    }
  </style>
</html>
