<!DOCTYPE html>
<html>
  <body
    class="pt-16 px-16"
    style="padding-left: 164px; padding-right: 164px; padding-top: 148px"
  >
    <div class="z-10 text-white">
      <div class="mb-1">
        <h1
          class="font-bold font-ginto flex-none"
          style="font-size: 18rem; line-height: 1"
        >
          Happy 7th Birthday, Discord!
        </h1>
        <h2 class="font-medium text-8xl font-ginto mt-4 leading-snug">
          Thank you for building the home for community, and so much more. From
          <%= users.length.toLocaleString() %> community members.
        </h2>
      </div>
      <div class="">
        <div style="font-size: 1.58rem; line-height: 1.58rem" class="flex-none">
          <p class="font-ginto text-justify">
            <span>
              <% for (const user of users.slice(0, 9500)) { %>
              <span class="user">
                <span class="font-medium"><%= user.username %></span
                >#<%=user.discriminator %>
              </span>
              <% } %>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="fixed right-0 bottom-0 -z-10"><%- bg %></div>
  </body>
  <style>
    html {
      background: linear-gradient(180deg, #7269ff 0%, #b2adff 196.83%);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .user {
      white-space: nowrap;
    }
  </style>
</html>
