<!DOCTYPE html>
<html>
  <body class="p-12">
    <div class="z-10 text-white">
      <div class="mb-1">
        <h1 class="font-bold text-8xl font-ginto flex-none">
          Happy 7th Birthday, Discord!
        </h1>
        <h2 class="font-bold text-5xl font-whitney mt-2 leading-snug">
          Thank you for building the home for community, and so much more.
        </h2>
      </div>
      <div class="">
        <div style="font-size: 0.47rem; line-height: 0.47rem" class="flex-none">
          <p class="font-ginto text-justify">
            <span>
              <% for (const user of users) { %>
                <span class="user">
                  <span class="font-medium"><%= user.username %></span>#<%=user.discriminator %>
                </span>
              <% } %>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="fixed right-0 bottom-0 -z-10"><%- bg %></div>
  </body>
  <style>
    html {
      background: linear-gradient(180deg, #7269ff 0%, #b2adff 196.83%);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .user {
      white-space: nowrap;
    }
  </style>
</html>
